<div id="carouselExampleFade row" class="carousel slide  carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner col">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="../../assets/hero-slider-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  c-cap">
          <h1 class="c-h5"  >Enjoy Your <br> DElicious <span>Meal</span> </h1>
          <p class="c-p">"A Symphony of Flavors Your Journey to Culinary  Bliss Starts Now"</p>
          <button class="" (click)="checkAccess()" routerLink="/menu">Our Menu</button>
        <button class="" (click)="checkAccess()" routerLink="/table">Book Table</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../../assets/hero-slider-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  c-cap">
          <h5 class="c-h5">Indulge delight <br>with every <span>bite</span></h5>
          <p  class="c-p">"Savor the flavors, explore culinary delights journey begins here, day or night."</p>
          <button class="" (click)="checkAccess()" routerLink="/menu">Our Menu</button>
        <button class="" (click)="checkAccess()" routerLink="/table">Book Table</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../../assets/hero-slider-3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption c-cap">
          <h5 class="c-h5">Satisfy cravings, relish every <span>taste</span></h5>
          <p  class="c-p">"Unlock a world of flavor with every dish, and savor the moments that matter most."</p>
          <button class="" (click)="checkAccess()" routerLink="/menu">Our Menu</button>
        <button class="" (click)="checkAccess()" routerLink="/table">Book Table</button>
        </div>
      </div>
    </div>
   
  </div>
