

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
section{
    padding-bottom: 300px;
    background-color: #f0f0f5;
}

.cart-title{
    padding-top: 15px;
    padding-bottom: 10px;
}
.cart-title h1{
    margin-top: -20px;
}
.cart-title i{
    font-size: 30px;
    margin-left: 15px;
    border-radius: 50%;
    padding:0 10px;
    font-weight: bold;
    transition: 0.3s linear;
}
.cart-title i:hover{
    background-color: #b6b6bbaf;
    transition: 0.3s linear;
}
.cart-body{
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* height: 170px; */
    padding: 10px;
    width: 700px;
    margin: 20px 0;
    background-color: white;

}
.cart-text i{
    color: rgb(223, 223, 59)
}
.cart-img{
    width: 10rem;
}
.cart-img img{
    filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
    padding: 10px;
}
.cart-price .price{
    font-size: 18px;
}
.cart-price .amount{
    font-size: 25px;
}
.cart-text h5{
    padding-left: 40px;
    font-size: 22px;
    word-wrap: break-word;
}
.cart-text p{
    font-size: 18px;
    padding-left: 40px;
}
.cart-body .cart-btn i{
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 22px;
    border-radius: 50%;
}

.cart-body .cart-btn p{
    font-size: 28px;
}
.bi-plus-circle{
    color: green;
}
.bi-dash-circle{
    color: red;
}

.cart-price p{
    width: 60px;
}
.del-btn i{
    font-size: 23px;
}

.cart-total{
    margin-left: 58%;
    margin-top: 40px;
}
.cart-total h5{
    padding: 3px 7px;
    font-size: 21px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 0px;
}


@media only screen and (max-width: 575px){
    .cart-body{
        width: 500px;
    }
    .cart-img{
        width: 6rem;
        box-shadow: none;
    }
    .cart-price{
        font-size: 18px;
    }
}
@media only screen and (max-width: 512px){
    .cart-body{
        width: 400px;
    }
    .cart-img{
        width: 5rem;
    }
    .cart-text h5{
        font-size: 19px;
        padding-left: 0px;
    }
    .cart-text p{
        padding-left: 0px;
    }
    .cart-price{
        font-size: 16px;
    }

}
@media only screen and (max-width: 420px){
    .cart-body{
        width: 350px;
    }
    .cart-img{
        width: 4rem;
    }
    .cart-text h5{
        font-size: 16px;
        padding-left: 0px;

    }
    .cart-text p{
        font-size: 15px;
        padding-left: 0px;
    }
    .cart-body .cart-btn p{
        font-size: 15px;
        font-weight: bold;
        margin-top: 7px;
    }
    .cart-body .cart-btn i{
        font-size: 19px;
    }
    .cart-price .amount{
        font-size: 15px;
    }
}



/* Empty cart  */

        
.empty-cart{
    height: 20rem;
}
.empty-cart img{
    height: 100%;
    
}